databases:
  # База данных PostGIS
  - name: mdd-db
    databaseName: mdd_db
    user: mdd_user
    plan: free
    postgresMajorVersion: 16
    ipAllowList: []

services:
  # Redis
  - type: redis
    name: mdd-redis
    ipAllowList: []
    plan: free
    maxmemoryPolicy: noeviction

  # Веб-сервис Django
  - type: web
    name: mdd-web
    runtime: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /admin/login/
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mdd-db
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: mdd-redis
          property: connectionString
      - key: CACHE_URL
        fromService:
          type: redis
          name: mdd-redis
          property: connectionString
      - fromGroup: common-env
    buildCommand: |
      python manage.py migrate
      python manage.py collectstatic --no-input

  # Celery Worker
  - type: worker
    name: mdd-worker
    runtime: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    dockerCommand: celery -A mdd_backend worker -l info
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mdd-db
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: mdd-redis
          property: connectionString
      - fromGroup: common-env

  # Celery Beat
  - type: worker
    name: mdd-beat
    runtime: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    dockerCommand: celery -A mdd_backend beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    plan: free
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mdd-db
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: mdd-redis
          property: connectionString
      - fromGroup: common-env

# Общие переменные окружения
envVarGroups:
  - name: common-env
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: PYTHON_VERSION
        value: "3.12"