databases:
  # База данных PostGIS
  - name: mdd-db
    databaseName: mdd_db
    user: mdd_user
    plan: free
    postgresMajorVersion: 16
    ipAllowList: []

services:
  # Redis
  - type: redis
    name: mdd-redis
    ipAllowList: []
    plan: free
    maxmemoryPolicy: noeviction

  # Веб-сервис Django + Celery Worker + Celery Beat
  - type: web
    name: mdd-app
    runtime: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    plan: free
    dockerCommand: "honcho start"
    healthCheckPath: /admin/login/
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mdd-db
          property: connectionString
      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: mdd-redis
          property: connectionString
      - key: CACHE_URL
        fromService:
          type: redis
          name: mdd-redis
          property: connectionString
      - fromGroup: common-env
    buildCommand: |
      python manage.py migrate
      python manage.py collectstatic --no-input

# Общие переменные окружения
envVarGroups:
  - name: common-env
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: PYTHON_VERSION
        value: "3.12"
      - key: ALLOWED_HOSTS
        value: ".onrender.com,localhost,127.0.0.1"
      - key: SENTRY_DSN
        value: "https://d5d263a702e09b7ddad4701c8aa63c77@o4510263881826304.ingest.de.sentry.io/4510263886741584"
      - key: FCM_SERVICE_ACCOUNT_JSON
        value: '{"type":"service_account","project_id":"man-down-detection","private_key_id":"02580933fa37b06798fde4e755c9edb72bab1c80","private_key":"-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDW9w+JSXrBjEuY\nHWOPaVpkVoLnmx3OgY8R71yMsFbr/f2f11So//jzmZKAxssw83mZYGrhPKrweaCI\nRcpYKzyjcanQ7L/q4NXFWuop6M0ZvG4NXhhfjfeyL/GJBHSFi9SOWWdnaiXCLkya\nEmluTBXjadG2bZAS1aCEoO4BTXojlAAq4tfHyx6j6bnhhn669X3NIsB06dvYZQCx\nMwKFK8P4qnn1ftZB4xotkRmOBQonQDRmq6gRCYqKBXVcDgcdHCu4yyv2ihSjy5Ps\nLdQ3tAPKx40fn2Avz10Q3j+xRIFtzO6lLxBtamkcIs/XMaWpeYo9nLe1P7KFnbZH\nGB8YOMeVAgMBAAECggEALgVVi6gyAia1dlrwWh8NbYbB3rCsOG4vQYEzmKEV8s79\nEc/JPacTVp+NqEkm7hNp+IaWSyMwW2xGjHYYhDi5cipe1y4gRjodOfOlRxSieDyJ\neQ4ofKiJm1m9RX6xLXgKqPEF/LNSYxiDaMbBUI40b2vTrFEXc5jNlSdY3OmH2P6t\nVjYRSDO/S2xNBlr3mSritnp1Oh6VAUeZ7jcPXFvB9jWuUGO8sgZzwTLjYm3laYKl\n+B8K7Y8KeH4Bi5r+H0NjlFuO+JpAf1qk4J0QMdhbiM7Hq5tp4BearkRYDfAxcdj1\npNd7X0713ZH533qxrndctSN8gpnxc4qlcEDEcn1x3wKBgQD3acbDmce6N94Yk8+c\nzbgO7wnqHeFItBKJw8+z9lXQ+WQC5jd+IQtx2qmUkYpflempxHOaGqmVzRGthZUD\njXwpKOhBJH5MmbdqoNDxwruYSp7ogd59tL99NYail3JiKh2gi3oMdd6rQQnoMhL0\nW/hmSSwu6nCNEF8FCGk7X7QAewKBgQDebP0Ij67w3gRg1nV7EAkKvs1U64Efo2mW\nZVPzlcay6KgiomLGh6Mx/KTbOFIga4yv0rnDore383i8/2XQpBjIbQi53RcCjV/H\nCQDa/vkIimXsKSRYALt5Bl/5POKQWiW2YTXyWrTkaLUEs9fZheblH/Y4RWxC6EGt\nCn72fb3DLwKBgQDzE1VY70kvR5xJAU/EeskOwwM2pMylpWVhPKRf5vFBMwRzZMO4\ng7a+0VoywRr19k9vn7cD/JYIu0VW+hsBNox509r7xWLg11VAyWb/X5b3dLjTLmTt\nlBteZKw2Kh0THNWm2eG7RELUdj3JhwjgU0ulEtb58RNLRH5Wb4ET+F7c6QKBgQCE\n73y3njB/cyIIwoRKfcX5rxnHdE2jHCaiJYNsZQrxqM28jXMdlrl5yba58spa6AyY\nlQhDnb/R6Gk0BCzU6w6I02nQtAvpkZc5vO7O9G7gpN7Pq7M2CZICfkXkD3iVr9s0\nSptUctQEY3Q1EEukjTv3mweskAlpX6jJBCnnpjVBLwKBgFItXQRSvhdBJG0Rsg1D\nNxaB3GktX+1LMIxS+krL6m2Ua6khJFo4vuLSrw8tZFWTZFHO9q6ZQp1i7Idme5+Z\nMTbYhjWSZ9GjsXl16zHENC3q9fI/FZAapYf4dH1GE5rPE2HyjK3uKCXc8V1HtatW\nEK4ImdpGK52lHhFZTWk+5rwj\n-----END PRIVATE KEY-----\n","client_email":"firebase-adminsdk-fbsvc@man-down-detection.iam.gserviceaccount.com","client_id":"115394120658158085205","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-fbsvc%40man-down-detection.iam.gserviceaccount.com","universe_domain":"googleapis.com"}'