databases:
  - name: mdd-db
    databaseName: mdd
    user: mdd
    plan: free
    postgresMajorVersion: 16
    ipAllowList: []
    extensions:
      - name: postgis

services:
  # Redis
  - type: redis
    name: mdd-redis
    ipAllowList: []
    plan: free

  # Django Web Service
  - type: web
    name: mdd-web
    env: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheck:
      path: /admin/login/
      initialDelaySeconds: 60

    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: mdd-db
          property: connectionString

      - key: CELERY_BROKER_URL
        fromService:
          name: mdd-redis
          type: redis
          property: connectionString

      - key: CACHE_URL
        fromService:
          name: mdd-redis
          type: redis
          property: connectionString

      - fromGroup: common-env

    initialDeployHook: |
      python manage.py migrate
      python manage.py collectstatic --no-input

  # Celery Worker
  - type: worker
    name: mdd-worker
    env: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    dockerCommand: celery -A mdd_backend worker -l info
    plan: free
    envVars:
      - fromGroup: common-env

  # Celery Beat
  - type: worker
    name: mdd-beat
    env: docker
    repo: https://github.com/D3dMak51m/mdd_backend.git
    dockerfilePath: ./Dockerfile
    dockerCommand: celery -A mdd_backend beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    plan: free
    envVars:
      - fromGroup: common-env

envVarGroups:
  - name: common-env
    envVars:
      - key: DJANGO_SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false
      - key: PYTHON_VERSION
        value: 3.12
